* text=auto
*.gd text eol=lf
*.gdshader text eol=lf
*.tscn text eol=lf
*.godot text eol=lf
*.py text eol=lf
*.md text eol=lf
*.ps1 text eol=crlf
*.cmd text eol=crlf
*.png binary
*.glb binary
*.blend binary
*.exr binary
*.wav binary
*.mp3 binary
*.ogg binary
*.flac binary
